* {
    margin: 0px;
    box-sizing: border-box;
}


/* :root {
    accent-color: #000000;
    coloWhite: #FFFFFF
} */

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Space Grotesk', Tahoma, sans-serif;
    font-size: 18px;
}

header {
    background: url("../Assets/Illustrations/Bathome1.png") no-repeat;
    background-size: cover;
    height: 900px;
}

nav {
    float: right;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}

h2 {
    font-family: 'Rajdhani', Verdana, sans-serif;
    padding: 10px 0px;
    font-size: 36px;
}

section p {
    text-align: justify;
    width: 80%;
}

p {
    padding: 30px 0px;
}

img[alt="nemesis"] {
    position: relative;
    bottom: -100px;
    left: 100px;
}

img[alt="bat-black"] {
    position: relative;
    left: 990px;
}

img[alt="fleche-gauche"],
img[alt="fleche-droite"] {
    padding-bottom: 80px;
}

img[alt="bande-annonce"] {
    width: 100%;
}

form {
    width: 80%;
    margin: auto;
    font-size: 22px;
}

form p {
    padding: 15px 0px;
}


/* input[type="radio"] {
    display: none;
} */

* {
    animation-name: fadeIn;
    animation-duration: 3s;
}


/* class */

.container {
    margin: 0px 102px;
    padding: 5%;
    border-right: 1px solid #BCBBBD;
    border-left: 1px solid #BCBBBD;
}

.logo-bat:hover {
    background: #F8F184;
}

.header-nav {
    border-bottom: 1px solid #BCBBBD;
    height: 132px;
}

.header-rezo {
    position: fixed;
    top: 300px;
    right: 2%;
}

.header-rezo img {
    display: block;
    margin: 15px 15px;
}

.header-rezo .rezo {
    margin: 25px 60px;
}

.rezo:hover {
    background: #F8F184;
    border-radius: 25%;
    color: #F8F184;
}

.sub-container-intro {
    width: 60%;
    margin: auto;
    padding: 15% 25px;
    font-size: 22px;
    text-align: center;
}

.sub-container-intro button {
    padding: 15px 50px;
    margin: 30px;
    background: linear-gradient(#EDDEBF, #19587D);
    opacity: 40%;
    color: #FFFFFF;
    border: none;
}

.sub-container-intro button:hover {
    background: linear-gradient(#EDDEBF, #19587D);
    opacity: 100%;
    color: #FFFFFF;
}

.sub-container-intro img {
    margin-top: 230px;
}

.flexible {
    display: flex;
    flex-wrap: wrap;
}

.actor {
    width: 305px;
    margin: 15px 30px 15px 0px;
}

.actor p {
    margin: 10px auto;
    text-align: center;
    padding: 0%;
}

.actor img:hover {
    transform: scale(1.1);
}

.begins {
    display: inline-block;
    width: 80%;
    margin: 10px 50px;
    border: 1px solid #BCBBBD;
    border-radius: 0px 10px 10px 0px;
}

.annonce {
    display: inline-block;
    width: 80%;
    background: linear-gradient(#1f1e1e 50%, #071b27 100%);
    border-radius: 0px 10px 10px 0px;
}

.annonce p {
    margin: 0px;
    padding: 10px;
    text-align: initial;
}

.saisi {
    width: 100%;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #BCBBBD;
    background: none;
}

.new {
    border: 1px solid #BCBBBD;
    padding: 15px;
    margin: 15px;
}

.new:checked {
    background: #19587D;
}


/* id */

#versus {
    background: url("../Assets/Illustrations/Bathome13.png") no-repeat;
    background-position-x: 250px;
    background-position-y: -20px;
}

#allie {
    background: url("../Assets/Illustrations/Bathome12.png") no-repeat;
    background-position-x: 850px;
    background-position-y: -160px;
}

#justice h2,
#justice p {
    width: 80%;
    margin: auto;
}

#contact {
    background: linear-gradient(#1f1e1e 50%, #071b27 100%);
    text-align: center;
}


/* police */

@font-face {
    font-family: 'Rajdhani';
    src: url("Assets/Polices/rajdhani-medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Space Grotesk';
    src: url("Assets/Polices/space-grotesk-regular.otf") format("opentype");
}


/* Keyframes */

@keyframes fadeIn {
    0% {
        opacity: 0%;
        transform: translateX(-100px);
    }
    100% {
        opacity: 100%;
        transform: translateX(0px);
    }
}