/* SELECTEUR UNIVERSEL */

* {
    margin: 0px;
    box-sizing: border-box;
    animation-name: fadeIn;
    animation-duration: 3s;
}


/* VARIABLE DE COULEURS */

:root {
    --color-black: #000000;
    --color-black1: #1f1e1e;
    --color-wite: #FFFFFF;
    --color-gris: #BCBBBD;
    --color-rouge: #890008;
    --color-transparent: #EDDEBF;
    --color-jaune: #F8F184;
    --color-blue: #19587D;
    --color-marine: #071b27;
}


/* SELECTEUR */

body {
    background-color: var(--color-black);
    color: var(--color-wite);
    font-family: 'Space Grotesk', Tahoma, sans-serif;
    font-size: 18px;
}

header {
    background: url("../Assets/Illustrations/Bathome1.png") no-repeat;
    background-size: cover;
    height: 900px;
}

nav {
    float: right;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}

h2 {
    font-family: 'Rajdhani', Verdana, sans-serif;
    padding: 10px 0px;
    font-size: 36px;
}

section p {
    text-align: justify;
    width: 80%;
}

p {
    padding: 30px 0px;
}

img[alt="nemesis"] {
    position: relative;
    bottom: -100px;
    left: 100px;
}

img[alt="bat-black"] {
    position: relative;
    left: 990px;
}

img[alt="fleche-gauche"],
img[alt="fleche-droite"] {
    padding-bottom: 80px;
}

img[alt="bande-annonce"] {
    width: 100%;
}

form {
    width: 80%;
    margin: auto;
    font-size: 22px;
}

form p {
    padding: 15px 0px;
}

select {
    width: 100%;
    font-size: 18px;
    border-bottom: 2px solid var(--color-gris);
    color: var(--color-gris);
    padding: 15px 0px;
    background: none;
}

select option {
    padding: 15px 0px;
    border-bottom: 2px solid var(--color-gris);
    background: none;
}

input[type="submit"] {
    margin: auto;
    padding: 15px;
    background: linear-gradient(var(--color-transparent), var(--color-rouge));
    opacity: 40%;
    color: var(--color-wite);
}

input[type="submit"]:hover {
    background: linear-gradient(var(--color-transparent), var(--color-rouge));
    opacity: 100%;
    color: var(--color-wite);
}

footer div {
    text-align: center;
}

footer img {
    margin: 15px;
}


/* class */

.container {
    margin: 0px 102px;
    padding: 5%;
    border-right: 1px solid var(--color-gris);
    border-left: 1px solid var(--color-gris);
}

.logo-bat:hover {
    background: var(--color-jaune);
}

.header-nav {
    border-bottom: 1px solid var(--color-gris);
    height: 132px;
}

.header-rezo {
    position: fixed;
    top: 300px;
    right: 2%;
}

.header-rezo img {
    display: block;
    margin: 15px 15px;
}

.header-rezo .rezo {
    margin: 25px 60px;
}

.rezo:hover {
    background: var(--color-jaune);
    border-radius: 25%;
}

.sub-container-intro {
    width: 60%;
    margin: auto;
    padding: 15% 25px;
    font-size: 22px;
    text-align: center;
}

.sub-container-intro button {
    padding: 15px 50px;
    margin: 30px;
    background: linear-gradient(var(--color-transparent), var(--color-blue));
    opacity: 40%;
    color: var(--color-wite);
    border: none;
}

.sub-container-intro button:hover {
    background: linear-gradient(var(--color-transparent), var(--color-blue));
    opacity: 100%;
    color: var(--color-wite);
}

.sub-container-intro img {
    margin-top: 230px;
}

.flexible {
    display: flex;
    flex-wrap: wrap;
}

.actor {
    width: 305px;
    margin: 15px 30px 15px 0px;
}

.actor p {
    margin: 10px auto;
    text-align: center;
    padding: 0%;
}

.actor img:hover {
    transform: scale(1.1);
}

.begins {
    display: inline-block;
    width: 80%;
    margin: 10px 50px;
    border: 1px solid var(--color-gris);
    border-radius: 0px 10px 10px 0px;
}

.annonce {
    display: inline-block;
    width: 80%;
    background: linear-gradient(var(--color-black1) 50%, var(--color-marine) 100%);
    border-radius: 0px 10px 10px 0px;
}

.annonce p {
    margin: 0px;
    padding: 10px;
    text-align: initial;
}

.saisi {
    width: 100%;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid var(--color-gris);
    background: none;
}

input[type="button"] {
    border: 1px solid var(--color-blue);
    background: linear-gradient(var(--color-transparent), var(--color-blue));
    opacity: 40%;
    display: inline-block;
    color: var(--color-wite);
    padding: 15px;
    margin: 15px;
}

input[type="button"]:hover {
    background: linear-gradient(var(--color-transparent), var(--color-blue));
    opacity: 100%;
}


/* id */

#versus {
    background: url("../Assets/Illustrations/Bathome13.png") no-repeat;
    background-position-x: 250px;
    background-position-y: -20px;
}

#allie {
    background: url("../Assets/Illustrations/Bathome12.png") no-repeat;
    background-position-x: 850px;
    background-position-y: -160px;
}

#justice h2,
#justice p {
    width: 80%;
    margin: auto;
}

#contact {
    background: linear-gradient(var(--color-black1) 50%, var(--color-marine) 100%);
    text-align: center;
}


/* police */

@font-face {
    font-family: 'Rajdhani';
    src: url("Assets/Polices/rajdhani-medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Space Grotesk';
    src: url("Assets/Polices/space-grotesk-regular.otf") format("opentype");
}


/* Keyframes */

@keyframes fadeIn {
    0% {
        opacity: 0%;
        transform: translateX(-100px);
    }
    100% {
        opacity: 100%;
        transform: translateX(0px);
    }
}